<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/common.theme.styles.min.css">
        <link rel="stylesheet" href="/common.vendor.styles.min.css">
    </head>
    <body>
    <p>test 14</p>
