@require './variables.styl'

@font-face
  font-family fontFamilyBl
  font-style normal
  src url(fontFamilyBlUrl) format("woff")

@font-face
  font-family fontFamilyB
  font-style normal
  src url(fontFamilyBUrl) format("woff")

@font-face
  font-family fontFamilyL
  font-style normal
  src url(fontFamilyLUrl) format("woff")

@font-face
  font-family fontFamilyLi
  font-style normal
  src url(fontFamilyLiUrl) format("woff")

@font-face
  font-family fontFamilyR
  font-style normal
  src url(fontFamilyRUrl) format("woff")

@font-face
  font-family fontFamilySb
  font-style normal
  src url(fontFamilySbUrl) format("woff")



body
  font-family fontFamilyR