

.mask
  position: relative
  z-index 1

  .layerBg1
    z-index 2
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    
  .layerBg2
    z-index 3
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0,0.5)

  .layerText
    z-index 4
    position: relative
    display: block