//Raleway
fontFamilyBl   = 'Raleway-Black'
fontFamilyBlUrl = '/fonts/Raleway/Raleway-Black.woff'

fontFamilyB   = 'Raleway-Bold'
fontFamilyBUrl = '/fonts/Raleway/Raleway-Bold.woff'

fontFamilyL   = 'Raleway-Light'
fontFamilyLUrl = '/fonts/Raleway/Raleway-Light.woff'

fontFamilyLi   = 'Raleway-Light-Italic'
fontFamilyLiUrl = '/fonts/Raleway/Raleway-LightItalic.woff'

fontFamilyR   = 'Raleway-Regular'
fontFamilyRUrl = '/fonts/Raleway/Raleway-Regular.woff'

fontFamilySb   = 'Raleway-Semibold'
fontFamilySbUrl = '/fonts/Raleway/Raleway-Semibold.woff'


//colors
color-1 = #FF9800
color-2 = #1A1A1A
color-3 = #FFFFFF
color-4 = #7E7E7E
color-5 = #777777
color-6 = #F5F6F6
color-7 = #F99D16
color-8 = #F5F6F6