<form id="form" name="formsendemail">
    <!--input-->
    <div class="form-group">
        <label for="formName">Name</label>
        <input name="name"
               type="text" class="form-control" id="formName" placeholder="name">
        <small class="form-text text-muted">Enter you name</small>
    </div>
    <!--input-->
    <!--input-->
    <div class="form-group">
        <label for="formEmail">Email</label>
        <input name="email"
               type="text" class="form-control" id="formEmail" aria-describedby="emailHelp" placeholder="email">
        <small class="form-text text-muted">Enter you email</small>
    </div>
    <!--input-->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>